[project]
	description = Creates a hash manifest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seth Bertalotto (redonkulus)
[access "refs/for/refs/*"]
	read = group user/Seth Bertalotto (redonkulus)
	push = group user/Seth Bertalotto (redonkulus)
	label-Code-Review = -2..+2 group user/Seth Bertalotto (redonkulus)
	label-Verified = -1..+1 group user/Seth Bertalotto (redonkulus)
	rebase = group user/Seth Bertalotto (redonkulus)
	removeReviewer = group user/Seth Bertalotto (redonkulus)
	submit = group user/Seth Bertalotto (redonkulus)
[access "refs/heads/*"]
	read = group user/Seth Bertalotto (redonkulus)
	create = group user/Seth Bertalotto (redonkulus)
	push = +force group user/Seth Bertalotto (redonkulus)
	pushMerge = group user/Seth Bertalotto (redonkulus)
[access "refs/tags/*"]
	push = +force group user/Seth Bertalotto (redonkulus)
	pushTag = group user/Seth Bertalotto (redonkulus)
	pushSignedTag = group user/Seth Bertalotto (redonkulus)
